<!DOCTYPE html>


<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<!-- BASICS -->
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Australian City Analytics Presentation</title>
        <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />	
		<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/style.css">
		<!-- skin -->
    </head>
	 






    <body>
		<section id="header" class="appear"></section>

		<div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
			 <div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="fa fa-bars color-white"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html" data-0="line-height:90px;" data-300="line-height:50px;">			Demostration
					</a></h1>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
						<li class="active"><a href="Homepage.html">Home</a></li>
						<li><a href="Homepage.html##section-about">About</a></li>
						<li><a href="Homepage.html#section-works">Scenarios</a></li>

					</ul>
				</div><!--/.navbar-collapse -->
			</div>
		</div>

		
		


<!-- 插入图片的地方 -->
<br/>
<br/>
<br/>
<br/>
<br/>

   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
    
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Time Spot');
      data.addColumn('number', 'Frequency of Tweets');
      data.addColumn('number', 'Positive Tweets');
      //data.addColumn('number', 'Transformers: Age of Extinction');
         var t1 = parseFloat("<%= JSON.stringify(t1) %>");
         var t2 = parseFloat("<%= JSON.stringify(t2) %>");
         var t3= parseFloat("<%= JSON.stringify(t3) %>");
         var t4= parseFloat("<%= JSON.stringify(t4) %>");
         var t5= parseFloat("<%= JSON.stringify(t5) %>");
         var t6= parseFloat("<%= JSON.stringify(t6) %>");
         var t7= parseFloat("<%= JSON.stringify(t7) %>");
         var t8= parseFloat("<%= JSON.stringify(t8) %>");
         var t9= parseFloat("<%= JSON.stringify(t9) %>");
         var t10= parseFloat("<%= JSON.stringify(t10) %>");
         var t11= parseFloat("<%= JSON.stringify(t11) %>");
         var t12= parseFloat("<%= JSON.stringify(t12) %>");
         var t13= parseFloat("<%= JSON.stringify(t13) %>");
         var t14= parseFloat("<%= JSON.stringify(t14) %>");
         var t15= parseFloat("<%= JSON.stringify(t15) %>");
         var t16= parseFloat("<%= JSON.stringify(t16) %>");
         var t17= parseFloat("<%= JSON.stringify(t17) %>");
         var t18= parseFloat("<%= JSON.stringify(t18) %>");
         var t19= parseFloat("<%= JSON.stringify(t19) %>");
         var t20= parseFloat("<%= JSON.stringify(t20) %>");
         var t21= parseFloat("<%= JSON.stringify(t21) %>");
         var t22= parseFloat("<%= JSON.stringify(t22) %>");
         var t23= parseFloat("<%= JSON.stringify(t23) %>");
         var t24= parseFloat("<%= JSON.stringify(t24) %>");
         var h1 = parseFloat("<%= JSON.stringify(h1) %>");
         var h2 = parseFloat("<%= JSON.stringify(h2) %>");
         var h3= parseFloat("<%= JSON.stringify(h3) %>");
         var h4= parseFloat("<%= JSON.stringify(h4) %>");
         var h5= parseFloat("<%= JSON.stringify(h5) %>");
         var h6= parseFloat("<%= JSON.stringify(h6) %>");
         var h7= parseFloat("<%= JSON.stringify(h7) %>");
         var h8= parseFloat("<%= JSON.stringify(h8) %>");
         var h9= parseFloat("<%= JSON.stringify(h9) %>");
         var h10= parseFloat("<%= JSON.stringify(h10) %>");
         var h11= parseFloat("<%= JSON.stringify(h11) %>");
         var h12= parseFloat("<%= JSON.stringify(h12) %>");
         var h13= parseFloat("<%= JSON.stringify(h13) %>");
         var h14= parseFloat("<%= JSON.stringify(h14) %>");
         var h15= parseFloat("<%= JSON.stringify(h15) %>");
         var h16= parseFloat("<%= JSON.stringify(h16) %>");
         var h17= parseFloat("<%= JSON.stringify(h17) %>");
         var h18= parseFloat("<%= JSON.stringify(h18) %>");
         var h19= parseFloat("<%= JSON.stringify(h19) %>");
         var h20= parseFloat("<%= JSON.stringify(h20) %>");
         var h21= parseFloat("<%= JSON.stringify(h21) %>");
         var h22= parseFloat("<%= JSON.stringify(h22) %>");
         var h23= parseFloat("<%= JSON.stringify(h23) %>");
         var h24= parseFloat("<%= JSON.stringify(h24) %>");
      data.addRows([
        [1,  t1, h1],
        [2,  t2, h2],
        [3,  t3, h3],
        [4,  t4, h4],
        [5,  t5, h5],
        [6,  t6, h6],
        [7,  t7, h7],
        [8,  t8, h8],
        [9,  t9, h9],
        [10, t10, h10],
        [11, t11, h11],
        [12, t12, h12],
        [13, t13, h13],
        [14, t14, h14],
        [15, t15, h15],
        [16, t16, h16],
        [17, t17, h17],
        [18, t18, h18],
        [19, t19, h19],
        [20, t20, h20],
        [21, t21, h21],
        [22, t22, h22],
        [23, t23, h23],
        [24, t24, h24]
      ]);
 
      var options = {
        chart: {
          title: 'The Variety Of Mood',
          subtitle: 'Search on Melbourne'
        },
        width: 900,
        height: 500
      };


      var chart = new google.charts.Line(document.getElementById('linechart_material'));

      																chart.draw(data, options);
    }
    </script>

</head>
<body>
<div id="linechart_material" style="width: 900px; height: 500px ; margin:0 auto"></div>
</body>



<section id="section-services" class="section pad-bot30 bg-white">
		<div class="container"> 
		
			<div class="row mar-bot40">
				<div class="col-lg-4" >
					<div class="align-center">


						<p>
		
			  <div id="piechart" style="width: 900px; height: 500px;"></div>


						</p>
					</div>
				</div>
					

			
			</div>	

		</div>
		</section>


    	<section>





    	</section>

		<section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
			<div class="container">
            <div class="align-center pad-top40 pad-bot40">


					<div id="piechart" style="width: 900px; height: 500px;"></div>

            </div>
			</div>	
		</section>



		

	<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>	

	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="js/jquery.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>
	<script src="js/jquery.isotope.min.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/fancybox/jquery.fancybox.pack.js"></script>
	<script src="js/skrollr.min.js"></script>		
	<script src="js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script src="js/jquery.localscroll-1.2.7-min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/jquery.appear.js"></script>
	<script src="js/validate.js"></script>
    <script src="js/main.js"></script>


	</body>
</html>